-@labels.each do |label|
  - @label_count += 1
  - @l_arr << @label_count
  %td{:id => "label_#{@label_count}", :class => "valign"}
    %div.ui-widget-header.label
      %div.ui-icon.ui-icon-circle-close.pointer
      = label.titleize
    - project_count = 0
    - @project_xmls.each do |x|
      - @x_arr << x.at('id').innerHTML
      %div.dashed= x.at('name').innerHTML
      %ul{:class => "#{x.at('id').innerHTML} sortable connectedSortable_#{x.at('id').innerHTML}" , :label => "#{label}"}
        - s = Login.find_labels(@project_stories[project_count], label)
        - story_pos = 0
        - s.each do |a|
          - (0 .. @positions[project_count].size - 1).each do |z|
            - if (@positions[project_count][z] == a.at('id').innerHTML)
              - story_pos = z
          - if a.at('story_type').innerHTML == "release"
            %li{:pos => "#{story_pos}", :project_id => "#{x.at('id').innerHTML}", :story_id => "#{a.at('id').innerHTML}", :title => "#{a.at('name').innerHTML}", :type => "#{a.at('story_type').innerHTML}", :class => 'milestone state-disabled cursor-default center'}
              = a.at('name').innerHTML
          -else
            %li{:pos => "#{story_pos}", :project_id => "#{x.at('id').innerHTML}", :story_id => "#{a.at('id').innerHTML}", :label => "#{label}", :title => "#{a.at('name').innerHTML}", :type => "#{a.at('story_type').innerHTML}", :class => "hover"}
              -if ( a.at('estimate')  and a.at('estimate').innerHTML != "-1")
                %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/estimate_#{a.at('estimate').innerHTML}pt_linear.gif", :class =>"estimateIcon" }
              %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/#{a.at('story_type').innerHTML}_icon.png", :class =>"storyTypeIcon"}
              = a.at('name').innerHTML
              %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/story_flyover_icon.png", :class =>"storyDetailIcon pointer"}
              %div.story_card.cursor-default
                %h3.center= a.at('name').innerHTML.titleize
                %p
                  Requested by:
                  = a.at('requested_by').innerHTML
                %p
                  Current State:
                  = a.at('current_state').innerHTML.titleize
                %p= a.at('description').innerHTML
                %a{:href => "#{a.at('url').innerHTML}"}= a.at('url').innerHTML
      - project_count += 1
