- require 'json'

//*****tables for each user
//**************************
%div.bold.ui-widget-header
  = link_to "PERCOLAIT TRACKER.", dash_url
  
%table.ui-widget.collapse
  %tbody.ui-widget-content
    %tr
      = render :partial => ('login/dash_items')
               
    
:javascript
  var connectSort = new Array(#{@x_arr.size});
  connectSort = #{@x_arr.to_json};
  
  
  $(document).ready(function(index){
    $(connectSort).each(function(index, obj){
      $("." + this).sortable({
        connectWith: ".connectedSortable_" + this,
        cancel: '.state-disabled',
        revert: true,
        start: function(event, ui) {alert(ui.item.attr("title")) },
        stop: function(event, ui){
          alert("YAY!");
          $.ajax({ 
            //type: "GET",
            //url: "#{ tweet_user_url(session[:user]) }"
          });
        }
      }).disableSelection();
    });
    
      $('.ui-icon-circle-close').click(function() {
        $(this).parents('td:first').hide('slow', function() {
      });
    });
  });
