//*****tables for each user
//**************************
%table.table-expand.ui-widget
  %thead
    %tr.bold 
      %td.ui-widget-header PERCOLAIT TRACKER.
  %tbody
    %tr
      %td.ui-widget.ui-widget-content.ui-corner-top
        %table
          %thead
            %tr.bold
              %td

          %tbody
            %tr
              - session[:token] = session[:user].token
              - return_val = Login.labelled(session[:token])
              - @project_xmls = return_val[0]
              - @labels = return_val[1]
              - @project_stories = return_val[2]
              - @labels.each do |label|
                %td.valign
                  %p.ui-widget-header.ui-corner-all.label
                    = label

                  %table
                    %tbody
                      - i=0
                      - @project_xmls.each do |x|
                        %tr
                          %td
                            %h4.dashed= x.at('name').innerHTML
                          - stories = @project_stories[i]
                          - i+=1
                          - (stories/'story').each do |s|
                            - if s.at('story_type').innerHTML == "release"
                              %tr
                                %td.milestone{:align => 'center'}
                                  = s.at('name').innerHTML
                                  = s.at('story_type').innerHTML
                            - if s.innerHTML != nil
                              - if s.at('story_type').innerHTML != "release"
                                - if s.at('labels')
                                  - if s.at('labels').innerHTML == label
                                    - if s.at('story_type').innerHTML != "release"
                                      %tr
                                        %td
                                          %ul.sortable.ui-sortable.movable
                                            %li.ui-state-default
                                              - if ( s.at('estimate')  and s.at('estimate').innerHTML != "-1")
                                                %span.ui-icon.ui-icon-arrowthick-2-n-s
                                                %div.icons
                                                  %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/estimate_#{s.at('estimate').innerHTML}pt_linear.gif", :class =>"estimateIcon" }
                                                  %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/#{s.at('story_type').innerHTML}_icon.png", :class =>"storyTypeIcon" }                                             
                                              = s.at('name').innerHTML
                                - else 
                                  - if label == "Other Activities"
                                    - if s.at('story_type').innerHTML != "release"
                                      %tr
                                        %td
                                          %ul.sortable.ui-sortable.movable
                                            %li.ui-state-default
                                              - if ( s.at('estimate')  and s.at('estimate').innerHTML != "-1")
                                                %span.ui-icon.ui-icon-arrowthick-2-n-s
                                                %div.icons
                                                  %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/estimate_#{s.at('estimate').innerHTML}pt_linear.gif", :class =>"estimateIcon" } 
                                                  %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/#{s.at('story_type').innerHTML}_icon.png", :class =>"storyTypeIcon" }                                             
                                              = s.at('name').innerHTML
:javascript
  $(document).ready(function(){
    $( ".sortable" ).sortable();

  });
