- require 'json'

- return_val = Login.labelled(session[:token])
- @project_xmls = return_val[0]
- @labels = return_val[1]
- @project_stories = return_val[2]
- @positions = return_val[3]
- @x_arr = []
- @l_arr = []
- @label_count = 0

%div.code#tab-container
  - tab_count = 0
  - @labels.each do |label|
    - tab_count += 1
    %div{:id => "tab_#{tab_count}", :class => "label_tab hover pointer"}= label.titleize

%div.clearBoth
%table.collapse
  %tbody.ui-widget-ui-widget-content
    %tr
      = render :partial => ('login/dash_items')
  
:javascript
  var connectSort = new Array(#{@x_arr.size});
  connectSort = #{@x_arr.to_json};
  var labelHide = new Array(#{@l_arr.size});
  labelHide = #{@l_arr.to_json};
  var time;
  
  function tweeter(item,time){
    $.ajax({
      type: "GET",
      url: "#{@root_url}/tweet?message="+ " Updated this " +item.attr("type").toString()+ ": " +item.attr("title").toString()+ " (#{time} " +time+ ")"
    });
  }
  
  $(document).ready(function(){
    $(connectSort).each(function(index, obj){
      $("." + this).sortable({
        connectWith: ".connectedSortable_" + this,
        cancel: '.state-disabled',
        revert: true,
        stop: function(event, ui){
          time = settime();
          tweeter(ui.item,time);
        }
      }).disableSelection();
    });
    
    $('.ui-icon-circle-close').click(function() {
      var $this = $(this);
      $(labelHide).each(function(index, obj){
        var $i = this;
        $($this).parents("#label_" + $i).addClass("hidden").hide('slow');
        
        if (($("#label_" + $i).hasClass("hidden")) == true) {
          $("#tab_" + $i).show();
          $.cookie('label_' + $i, 'hide');
          $.cookie('tab_' + $i, 'show');
          }
        $("#tab_" + $i).click(function() {
          $($this).parents("#label_" + $i).removeClass("hidden").show('slow');
          $("#tab_" + $i).hide();
          $.cookie('tab_' + $i, null);
          $.cookie('label_' + $i, null);
        });
      });
    });
    
    //cookies
    $(labelHide).each(function(index, obj){
      var $i = this;
      var cook_label = $.cookie('label_' + $i);
      var cook_tab = $.cookie('tab_' + $i);
      
      if (cook_label == 'hide') {
        $('.ui-icon-circle-close').parents("#label_" + $i).addClass("hidden").hide();
      };
      if (cook_tab == 'show') {
        $("#tab_" + $i).show().click( function() {
          $('.ui-icon-circle-close').parents("#label_" + $i).removeClass("hidden").show('slow');
            $("#tab_" + $i).hide()
            $.cookie('tab_' + $i, null);
            $.cookie('label_' + $i, null);
          });
      };
    });
  });
