//*****tables for each user
//**************************
%table.table-expand.ui-widget
  %thead
    %tr.bold 
      %td.ui-widget-header PERCOLAIT TRACKER.
  %tbody
    %tr
      %td.ui-widget.ui-widget-content.ui-corner-top
        %table
          %thead
            %tr.bold
              %td

          %tbody
            %tr
              - session[:token] = session[:user].token
              - return_val = Login.labelled(session[:token])
              - @project_xmls = return_val[0]
              - @labels = return_val[1]
              - @project_stories = return_val[2]
              
              - @labels.each do |label|
                %td.valign
                  %p.ui-widget-header.ui-corner-all.label
                    = label
                  %table.collapse
                    %tbody
                      - i=0
                      - @project_xmls.each do |x|
                        %li.dashed= x.at('name').innerHTML
                        %ul.sortable.ui-sortable.movable
                          - stories = @project_stories[i]
                          - i+=1
                          - s = Login.find_labels(stories,label)
                          - if s != nil
                            - s.each do |a|
                              - if a.at('story_type').innerHTML == "release"
                                %li{:align => 'center', :class => 'milestone state-disabled cursor-default'}
                                  = a.at('name').innerHTML
                              -else 
                                %li.ui-state-default
                                  %div.icons
                                    %img{:src => "images/move.png", :class => "corner"}
                                    -if ( a.at('estimate')  and a.at('estimate').innerHTML != "-1")
                                      %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/estimate_#{a.at('estimate').innerHTML}pt_linear.gif", :class =>"estimateIcon" }
                                    %img{:src=>"http://www.pivotaltracker.com/images/v3/icons/stories_view/#{a.at('story_type').innerHTML}_icon.png", :class =>"storyTypeIcon" }
                                  = a.at('name').innerHTML

:javascript
  $(document).ready(function(){
    $(".sortable").sortable({
      cancel: '.state-disabled'
    });
    $(".sortable li").disableSelection();

  });
