- require 'json'
//*****tables for each user
//**************************
%div.bold.ui-widget-header
  = link_to "PERCOLAIT TRACKER.", dash_url

-time = Time.new
-time = time.strftime("%b %d, %Y")

%table.ui-widget.collapse
  %tbody.ui-widget-content
    %tr
      = render :partial => ('login/dash_items')
:javascript
  var connectSort = new Array(#{@x_arr.size});
  connectSort = #{@x_arr.to_json};
  function settime () {
    var curtime = new Date();
    var curhour = curtime.getHours();
    var curmin = curtime.getMinutes();
    var cursec = curtime.getSeconds();
    var time = "";

    if(curhour == 0) curhour = 12;
      time = (curhour > 12 ? curhour - 12 : curhour) + ":" +
             (curmin < 10 ? "0" : "") + curmin + ":" +
             (cursec < 10 ? "0" : "") + cursec + " " +
             (curhour > 12 ? "PM" : "AM");
    return time;
  }
  var time = settime();
  $(document).ready(function(index){
    $(connectSort).each(function(index, obj){
      $("." + this).sortable({
        connectWith: ".connectedSortable_" + this,
        cancel: '.state-disabled',
        revert: true,
        start: function(event, ui) {alert(ui.item.attr("title")) },
        stop: function(event, ui){
          time = settime();
          $.ajax({
            type: "GET",
            url: "#{@root_url}/tweet?message=#{time} "+ time + " Updated this "+ ui.item.attr("type").toString()+": "+ui.item.attr("title").toString()
            //url: alert(ui.item.attr("label"))
          });
        }
      }).disableSelection();
    });
      
      $('.ui-icon-circle-close').click(function() {
        $(this).parents('td:first').hide('slow', function() {
      });
    });
  });
