:javascript
	$(document).ready(function() {
	$(".table-1").tableDnD();
	});
	
- @users.each do |user|
	#table-container
		%table
			%tr
				%th= user.screen_name
			%tr
				%td
					%div.accordion
						- session[:token] = user.token
						- project_uri = URI.parse("#{@base_url}")
						- project_doc= Login.net_http(project_uri, session[:token], 'projects')
						- (project_doc/'project').each do |p|
							- if p.innerHTML != nil
								%h3.pointer= p.at('name').innerHTML
								- project_id = p.at('id').innerHTML
								
								- story_uri = URI.parse("#{@base_url}/#{project_id}/iterations/current")
								- story_doc = Login.net_http(story_uri, session[:token], 'stories')
								%div.limiter
									%p
										.table-scaffold
											%table.table-1
												- (story_doc/'story').each do |s|
													- if s.innerHTML != nil
														%tr{:class => cycle('even', 'odd')}
															%td= s.at('name').innerHTML

